[package]
name = "async-graphql-reverse"
version = "0.1.19"
authors = ["tacogips <me@tacogips.me>"]
edition = "2018"

[[bin]]
name = "async-graphql-reverse"
path = "src/bin/main.rs"

[dependencies]
anyhow = "1.0"
async-graphql = "4.0"
async-graphql-parser = "4.0"
clap = { version = "3.1.0", features = ["derive"] }
env_logger = "0.8"
lazy_static = "1.4"
log = "0.4"
structopt = "0.3"
strum = { version = "0.21.0", features = ["derive"] }
derive_macro_tool = { path = "derive_macro" }
proc-macro2 = { version = "1.0", default-features = false }
quote = "1.0"
syn = {version = "1.0",features =["extra-traits","clone-impls"]}
heck = "0.3"
paste = "1.0"
toml = "0.5"
serde = {version = "1.0", features = ["derive"]}
